

.body{
    color: fc7986;
}
.mobile {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
}
.image{
    margin-top: 5px;
    border-radius: 30px;
    width: 35px;
}
.icon{
/*    margin-top: 5px;*/
/*    border-radius: 15px;*/

    height: 5vh;
    
    display: flex;
    flex-direction: row;
}
.search {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}
.display-top {
    
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    
}
.chat-border{
    border-left: 0.5px solid;
    height: 10vh;
    border-bottom: 0.5px solid;
    background-color: #f5f5f5;
    
}

.chat-view-border {
    height: 10vh;
    border-bottom: 0.5px solid;
    background-color: #f5f5f5;

}

.main-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 15vh;
    width: 20vw;
    border: 0.2px solid;
    
}
.image1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 20vh;
    width: 3.5vw;
    
    
}
.gone-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65vw;
    height: 10vh;
}
.gone-image{
    display: flex;
    flex-direction:row;
    justify-content:felx-end;
    width: 10vw;
    height: 10vh;
}
.icon1{
    display: flex;
    margin-top: 2vh;
    justify-content: flex-end;
    align-items: center;
    width: 8vw;
    height: 5vh;
}
.content{
    font-size: 0.7rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 20vh;
    width: 15.5vw;
    margin-left: 0.5px;
    
}
.inner-content{
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
 height: 5vh;
    width: 15.5vw;
    margin-top: 10px;
}
.chat-container {
    
    margin-top: 2vh;
      display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 8vh;
    width: 58vw;
}
.image2{
    margin-left: 2vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 8vh;
    width: 3.5vw;
     
}
.content1{
  font-size: 0.7rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 8vh;
    width: 15.5vw;
    margin-left: 0.5px;
      
}
.header{
    display: flex;
    justify-content: flex-start;
    height: 5vh;
    width: 20vw;
}
.message-content{
    border: 1px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
height: 65vh;
    width: 59vw;    
    
}
.input-container{
    
    
    margin-top: 0.5vh;
      display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 8vh;
    width: 58vw;
}
.input1{
    margin-top: 0.5vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 8vh;
    width: 50vw;
    margin-left: 0.5px;
          
}
.justify-message{
    border: 0.5px solid;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 50vh;
}
.message-space{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 0.5px solid;
    display: flex;
    height: 70vh;
    width: 60vw;
    
}
.message-box1{
    margin-top: 2vh;
    border: 0.5px solid;
   display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    height: 13vh;
    width: 30vw;
    margin-left: 0.5px;  
}

.message-box2{
    margin-top: 2vh;
    border: 0.5px solid;
   display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: row;
    height: 13vh;
    width: 30vw;
    margin-left: 0.5px;  
}
.msg{
    display: flex;
    height: 7vh;
    width: 25vw;
    justify-content: flex-start;
    
}
.content-msg{
     display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 10vh;
    width: 25vw;
      
}






/*Media query */

@media (max-width: 576px) { 
.mobile {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    
    }

    .search {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
    }
    .main-container{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        height: 15vh;
        width: 90vw;
        border: 0.2px solid;
    
}
    .content{
    margin-left: 5vw;    
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 15vh;
    width: 70vw;
    margin-left: 0.5px;
    
}
    .inner-content{
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    height: 7vh;
    width: 70vw;
    margin-top: 10px;
}
    
    .image1 {
        margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 15vh;
    width: 18vw;
    
    
}

}







